<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shivamgupta.myfirstapp.com.worditout" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="shivamgupta.myfirstapp.com.worditout.SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SuggestionActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="shivamgupta.myfirstapp.com.worditout.SuggestionActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LevelActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="shivamgupta.myfirstapp.com.worditout.LevelActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="shivamgupta.myfirstapp.com.worditout.CategoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FrontActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="shivamgupta.myfirstapp.com.worditout.FrontActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LeaderBoard"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="shivamgupta.myfirstapp.com.worditout.LeaderBoard" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TTSActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="shivamgupta.myfirstapp.com.worditout.TTSActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="ispeech_api_key"
            android:value="developerdemokeydeveloperdemokey" />
        <meta-data
            android:name="debug"
            android:value="false" />
    </application>

</manifest>
